body{
    background: #131313;
    margin: 0;
    font-family: 'Montserrat';
    color: #fff;
}
.header{
    width: 70%;
    border-bottom: 1px solid #272727;
    margin: 0 auto;
    overflow: auto;
}

.header__logo{
    display: inline-block;
    float: left;
    padding: 1rem 0;
}
.logo__img{
    border-right: 1px solid #272727;
    padding-right: 1rem;
}
.number{
    padding: 0;
    margin: 0;
    display: inline-block;
    padding: 1.4rem 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.nav{
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
}
.nav__item{
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.nav__link{
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem .5rem;
    
}
.nav__link-active{
    text-decoration-line: line-through;
    color: #272727;
}
.main{
    width: 70%;
    margin: 0 auto;
    background-image: url(/img/bricks.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 5rem;
}
.main__title{
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 2rem;
}
table{
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    margin-bottom: 2rem;
}
.table__title{
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #727272;
    text-align: left;
    padding: .2rem 1rem;
}
.table__body{
    background: #131313;
    border: 1px solid #272727;
}
.table__info{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #272727;
    border-left: 0px;
    border-right: 0px;
}
tfoot{
    background: #131313;
}
.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.list-item{
    display: inline-block;
    padding: 3rem 1rem;
}
.list__link{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    display: inline-block;
}
.list__link-active{
    color: #4F4F4F;
}
.table__foot{
    text-align: center;
}
.footer{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 7rem;
}